$primary:   #fac444;
$secondary: #AEB6BF;
$warning:   #fa8a44;

@import "./node_modules/bootstrap/scss/bootstrap.scss";

.selected-gradient {
  --bg-gradient: linear-gradient(to right, rgba(255, 221, 103, 0.25) 0%, rgba(255, 221, 103, 0) 100%);
  background: var(--bg-gradient) !important;
  border-left: none !important;
  box-shadow: inset 4px 0 0 0 #fac444 !important;
  border-radius: 5px !important;
}

.select-primary-dropdown-icon {
  --bg-gradient: linear-gradient(to right, rgba(255, 221, 103, 0.25) 0%, rgba(255, 221, 103, 0) 100%);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fac444' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e"),
  var(--bg-gradient) !important;
  background-repeat: no-repeat !important;
  background-position: right 0.75rem center, center !important;
  background-size: 16px 12px, 100% 100% !important;
  border-left: none !important;
  box-shadow: inset 4px 0 0 0 #fac444 !important;
  border-radius: 5px !important;
  appearance: none;
  -webkit-appearance: none;
}