:root {
    --bs-primary: #fac444 !important;
    --bs-primary-rgb: 250, 196, 68 !important;
    --bs-secondary: #AEB6BF !important;
    --bs-secondary-rgb: 174, 182, 191 !important;
    --bs-warning: #fa8a44 !important;
    --bs-warning-rgb: 250, 138, 68 !important;
}

.selected-gradient {
    background: linear-gradient(
            to right,
            rgba(255, 221, 103, 0.25) 0%,
            rgba(255, 221, 103, 0) 100%
    ) !important;
    border-left: 4px solid #fac444 !important;
}