$primary:   #fac444;
$secondary: #AEB6BF;
$warning:   #fa8a44;

@import "./node_modules/bootstrap/scss/bootstrap.scss";

.selected-gradient {
    background: linear-gradient(
                    to right,
                    rgba(255, 221, 103, 0.25) 0%,
                    rgba(255, 221, 103, 0) 100%
    );
    border-left: 4px solid $primary;
}
